.main{
    margin-left: 200px;
    background-color: #f8f9fa;
}
.to-the-left{
  margin-right: 600px;
}
.age-to-left{
    margin-right: 650px; 
}
label{
    color:#159fdc;
    font-size: 18px;
}

p{
    color:#159fdc;
}
.dot{
    display : list-item;
    list-style-type: disc;
    list-style-position: inside;
}