<nav class="navbar navbar-expand-lg navbar-light main-color px-5 ">
    <img src="../../../assets/logo.png" class="rounded-circle">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link main-text-color" routerLink='/signup' >Sign Up <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item dropdown">
                    <a class="nav-link  main-text-color ml-3" routerLink='/signin' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Sign In
                    </a>
                    
            </li>
            

        </ul>

    </div>
</nav>