<app-navbar></app-navbar>

<section class="col-8 main mt-5 ">

    <form class="text-center border border-light p-5" #myForm="ngForm" (ngSubmit)=" EditUser(myForm.value)">
        <p class="h3 mb-5">Edit {{users.username}}</p>

        <!--Name-->
        <label class="to-the-left dot">User Name</label>
        <input type="text" class="form-control mb-5" placeholder="Enter user name" name="username" #username="ngModel"
            required [(ngModel)]='users.username'>
        <div class="text-danger mb-3" *ngIf="username.invalid && username.touched">
            *Must enter user name
        </div>

<!--Email-->

<label class="to-the-left dot">Email</label>
<input type="email" class="form-control mb-5" placeholder="Enter Email" name="email" #email="ngModel"
    required [(ngModel)]='users.email'>
<div class="text-danger mb-3" *ngIf="email.invalid && email.touched">
    *Must enter email
</div>

<!--Password-->

<label class="to-the-left dot">--Password--</label>
<input type="password" class="form-control mb-5" placeholder="Enter password" name="password" #password="ngModel"
    required [(ngModel)]='users.password'>
<div class="text-danger mb-3" *ngIf="password.invalid && password.touched">
    *Must enter password
</div>

<!--Button-->
<button class="btn  btn-block" type="submit" [disabled]="myForm.invalid">Edit </button>
</form>
</section>
