<app-navbar></app-navbar>


<section class="d-flex justify-content-center">
<!--Table-->

<table class=" w-auto ml-3 mt-3 mb-5 req">

        <!--Table head-->
        <thead>
          <tr >
           
            <th class="p-3">Event Name</th>
            <th class="p-3">Date</th>
           
            <th class="p-3">Description</th>
        
            <th class="p-3">Action</th>
            
            
          </tr>
        </thead>
        <!--Table head-->
      
        <!--Table body-->
        <tbody>
          <tr *ngFor="let x of myData">
            
            <td class="p-2">{{x.eventname}}</td>
            <td class="p-2"> {{x.date}}</td>
            
            <td class="p-2">{{x.description}}</td>
       
           
         
            <td>
             
              <button type="button" class="btn btn-outline-danger m-3" (click)="deleteEvent(x._id)">Delete</button>
              <button type="button" class="btn btn-outline-warning m-3"  routerLink="/edit/{{x._id}}">Edit</button>
            </td>
           
          </tr>
          
       
        </tbody>
        <!--Table body-->
      
      
      </table>
      <!--Table-->
   
    </section>